.header {
  color: white;
  background-color: #333;
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

.description {
  text-align: center;
}

.textbox {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
input {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
} */
